.diptych {
  inline-size: var(--col-large);
  margin: var(--gap-photo) auto;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}
.diptych[data-mobile-columns='2'] {
  flex-direction: row;
}
@media (min-width: 740px) {
  .diptych {
    flex-direction: row;
    align-items: flex-start;
    gap: var(--diptych-gap);
  }
}
